	body{
		background-color: white;
	}
	ul#redesocial{
	padding-left: 0px;

	}
	ul#redesocial img{
		width: 40px;
	   
	   
		border-radius: 50%;
	   
	}
	ul#redesocial img:hover{
		border: 2px solid white;
		transform: translate(-3px,-3px);
		
	}

	li.social{
		
		list-style: none;
		display: inline-block;
	  

		}


	  a.text{
			color: white;   
			text-decoration: none;
		}

	   
		ul#footer{
			list-style: none;
			color: white;
			padding-left: 0px;
		}
		a.botao{

		  margin: 3px;
		}

		
		
			

			a:hover{
				color: black;
			} 
		  
			div#logofooter{
				text-align: right;
			}
			ul#redesocial{
				color: white;
				list-style: none;
				color: white;
				padding-left: 0px;
			}
			
		   h5{
			color: white;
			
		   }

		   p#texto{
			color: white;
		   }
		   hr#linha{

			background-color: white;
		   }
		   hr#final{
			margin: 0px;
		   }

		   h3.hov:hover{
			color:gray;
			
		   }
		   p.ho:hover{
			color:gray;
		   }
		  
		   li.slick-slide{
		
			list-style: none;
			display: inline-block;
			
		
			}
			img.lazy{

			border-radius: 50%;
			margin-bottom: 40px;
			border-color: 1px solid white;
			
			}

			img.lazy:hover{

				transform: translate(-3px,-3px);
				border-color: 10px solid black;
			}

		  li.navegar{
			list-style: none;
			display: inline-block;

		  }
		
		   
			